<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ruiheyun.athena.admin.mapper.SysPermissionMapper">
    <select id="listAllPermissionByUser" resultType="cn.ruiheyun.athena.admin.entity.SysPermission">
        SELECT sp.id, sp.sn, sp.name, sp.icon, sp.url, sp.type, sp.parent_sn
        FROM sys_permission sp
        LEFT JOIN sys_role_permission_relation srpr
        ON sp.sn = srpr.permission_sn
            LEFT JOIN sys_user_role_relation surr
            ON srpr.role_sn = surr.role_sn
        WHERE surr.user_sn = #{userSn}
    </select>
</mapper>
